#cv h1, #cv h2, #cv h3, #cv h4, #cv h5, #cv h6, #cv p, #cv blockquote, #cv ul, #cv ol, #cv dl, #cv table, #cv time, #cv .message, #cv .highlight, #cv .gist-file, #cv .pagination, hr{
	max-width: 45rem; //should match .container max-width 
	margin-left: 5rem;
}

.cv-award {
	//color: #FBC02D;
    color: #689A19;
    font-weight: bold;
}

#cv p, #cv .post-date {
	font-size: 16px;
}

#cv a {
	color: #515151;
}

#cv a:hover {
	color: #2196F3;
	text-decoration: none;
}

#cv .paper-misc {
	color: #9a9a9a;
	// color: #2196F3;
}

#cv .paper-misc a {
	color: #9a9a9a;
	// color: #2196F3;
}

#cv .paper-misc a:hover {
	// color: #9a9a9a;
	color: #2196F3;
}

#cv h3 {
	margin-top: 0rem;
	font-weight: 300;
    font-variant: small-caps;
}

#cv h2 {
	margin-top: 2.5rem;
	font-weight: 300;
	color: #313131;
}

#cv h1 {
	color: #313131;
	padding-bottom: 0px;
	margin-bottom: 0px;
	// faking .normal-web-width
	// max-width: 35rem;
	// margin-left: auto;
	// margin-right: auto;
}

.news {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: #689A19;
}

.first_h2 {
  display: block;
  font-size: 1.5em;
  //margin-top: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 0px;
  //margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  padding-bottom: 0px;
  color: #313131;
  font-weight: 300;
}

body { font-family: Lato, Arial; font-size: 14px; color: #333;}
#wrap { margin: 0 auto; max-width: 795px; padding: 10px 15px;}

a { text-decoration: none; color: #379;}
ul { padding-left: 0;}
li { list-style: none; position: relative; margin: 8px 0 24px; line-height: 20px;}

#title { display: flex; align-items: flex-end; justify-content: space-between; padding-top: 20px; border-bottom: 1px solid #ccc; padding-bottom: 6px; margin-bottom: 20px;}
#title h1 { font-size: 40px; margin: 0; color: #147; min-width: 300px;}
#title h1 a { color: #147;}
#top_menu { margin: 0 0 4px 0;}
#top_menu li { display: inline; font-size: 17px; margin: 0 5px;}
#top_menu a { color: #555;}
#top_menu a:hover { color: #379;}

#content { position: relative; margin-left: 175px;}
#content a { border-bottom: 1px solid #ddd;}
#content a:hover { text-decoration: underline; border-bottom: 0;}

#profile_card { position: absolute; width: 150px; left: -175px; margin-top: 5px; margin-bottom: 20px;}
#profile_card img#profile_image { width: 150px; height: 200px;}

#profile_items { margin-top: 15px;}
#profile_items li { margin: 4px -2px 0 1px;}
#profile_items li i { color: #555;}
#profile_items li a { border-bottom: 0;}

#content h3 { margin: 40px 0 15px -1px; border-bottom: 1px solid #ddd; font-size: 22px; color: #059; padding-bottom: 3px;}

#about_me_text { font-size: 16px; line-height: 24px; margin-top: 10px;}
#about_me_text p { margin: 12px 0;}
#job_materials { border-spacing: 6px 0; margin-top: -5px;}
#content a.link_button { display: table-cell; padding: 6px 10px; margin-right: 5px; border: 1px solid #ccc; border-radius: 1px; font-size: 13px; text-transform: uppercase;}
#content a.link_button:hover { background-color: #bcf; border: 1px solid #abf; text-decoration: none;}

ul.items li { font-size: 15px; margin: 7px 0; line-height: 21px;}
.date { color: #777; font-size: 13px; text-transform: uppercase; margin-right: 3px; }
.left { position: absolute; font-size: 13px; left: -130px; width: 110px; text-align: right; margin-top: 1px;}

.projects { display: flex; flex-wrap: wrap;}
.project { background-color: #fcfcfc; padding: 7px 9px; margin-right: 8px; font-size: 13px; line-height: 15px; max-width: 180px;}
.project_title { color: #444; font-size: 24px; margin: 12px 0 7px 0;}
.project_subtitle { color: #666; font-size: 15px; margin: 8px 0 6px 0;}
.project_description { font-size: 12px; color: #555; margin: 7px 0 7px 0;}
.project_thumbnail { }
.project_thumbnail img { max-width: 180px;}
#content .project_links a { color: #157; padding: 2px 4px 0 0; margin-right: 2px; font-size: 12px; border-bottom: none;}

.section_memo { font-size: 14px; margin-left: 7px; color: #888;}
.section_memo a { color: #777;}

span.booktitle { font-style: italic;}
span.myname { color: #37b; font-weight: bold;}
span.highlight { color: #c52c5c; font-weight: bold;}

#content .pub a { color: #157; text-decoration: none; padding: 4px 4px 3px 0; margin-top: 4px; margin-right: 2px; border: 0;}
#content .pub a:hover { text-decoration: underline;}
#content .pub a.paper_title { color: #333;}
.paper_thumbnail { position: absolute; top: 3px; left: -150px;}
.paper_thumbnail img { width: 135px;}

p.desc { color: #555; margin-top: 0; font-size: 15px;}

p#copyright { margin-top: 30px; text-align: center;}

@media (max-width: 600px) {
	#title { flex-wrap: wrap;}
	#title h1 { width: 100%; padding-bottom: 12px;}
	#top_menu { border-top: 1px solid #ccc; padding-top: 9px; width: 100%;}
	#content { margin-left: 0;}
	#profile_card { position: relative; left: 0; width: auto; display: flex; align-items: flex-end;}
	#profile_items { margin: 0 0 3px 15px;}
	#profile_items li { margin: 4px 0 0 1px;}
	.projects { display: block;}
	.project { display: flex; flex-direction: row; max-width: 100%; margin-bottom: 12px;}
	.project_thumbnail { margin-right: 9px; max-width: 60%;}
	.project_thumbnail img { width: 100%;}
	.paper_thumbnail { position: relative; top: 0; left: 0;}
	.left { position: relative; left: 0; text-align: left; margin-left: 5px;}
}

#cv strong a {
	color: #303030;
}

#cv .cv-blue-link a {
	color: #2196F3;
}

#cv .cv-left-date {
	//margin-left: -5rem;
	margin-left: -6rem;
	text-align: right;
	width: 5rem;
	display: inline-block;
	font-size: 12px;
	margin-top:0;
	margin-bottom:0;
	margin-right:14pt;
	padding:0;
    //border: 1pt solid green;
}

.cv-spacer {
	margin-top:5px;
	display:block;
}

.cv-spacer-award {
	margin-top: 5px;
	display: block;
}

.cv-spacer-p {
	margin-top: 10px;
	display: block;
}

.cv-spacer-top {
	margin-top: 10px;
	display: block;
}

.cv-spacer-line {
	margin-top: 5px;
	display: block;
	background-color: #eee;
	height: 1px;
	max-width: 250px;
	margin-bottom: 5px;
}

#cv .cv-description {
	color: #9a9a9a;
	font-size: 14px;
	font-weight: 300;
}

#cv .cv-description a {
	color: #9a9a9a;
}

#cv .cv-description a:hover {
	color: #2196F3;
}

#cv .cv-subtitle {
	font-size: 20px;
}

#cv .cv-pdf {
	padding: 10px;
	border: 1px solid red;
}


#material {
    display: block;
    float: left;
    background: #ddd;
    color: white;
    padding: 6px 12px 6px 12px;
    margin: 3px;
    color: #689A19;
}

#material a {background: #555; color: #689A19;}
#material a:hover {background: #555; color: #689A19;}


#cv .cv-ai {
	color: #E7841E;
	// padding-bottom: 3px;
	// border-bottom: 1px solid #E7841E;
}

#cv .cv-vis {
	color: #2196F3;
	// padding-bottom: 3px;
	// border-bottom: 1px solid #2196F3;
}

#cv time {
	color: #9a9a9a;
	font-weight: 300;
	// faking .normal-web-width
	// max-width: 35rem;
	// margin-left: auto;
	// margin-right: auto;
}

#cv .top-width {
	max-width: 36rem;
	padding-left: 0rem;
	display: block;
	font-size: 16px;
    margin-left:90px;
}

#cv .cv-max-width {
	max-width: 35rem;
	padding-left: 0rem;
	display: block;
	font-size: 18px;
}

#cv .cv-website-marker {
	border: 1px solid;
	padding-top: 1px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 4px;
}


////////////////////////////////////////////
// experiement with centering title of cv //
//      not being used right now          //
////////////////////////////////////////////

#cv .normal-web-width {
	max-width: 35rem;
	padding-left: 0rem;
	// margin-left: auto;
	// margin-right: auto;
	display: block;
	font-size: 18px;
}

#cv .normal-web-width p {
	font-size: 18px;
	margin-left: 0rem;
}
