#cv h1, #cv h2, #cv h3, #cv h4, #cv h5, #cv h6, #cv p, #cv blockquote, #cv ul, #cv ol, #cv dl, #cv table, #cv time, #cv .message, #cv .highlight, #cv .gist-file, #cv .pagination, hr{
	max-width: 55rem; //should match .container max-width 
	margin-left: 5rem;
}

.cv-award {
	//color: #FBC02D;
    color: #689A19;
    font-weight: bold;
}

#cv p, #cv .post-date {
	font-size: 16px;
}

#cv a {
	color: #515151;
}

#cv a:hover {
	color: #2196F3;
	text-decoration: none;
}

#cv .paper-misc {
	color: #9a9a9a;
	// color: #2196F3;
}

#cv .paper-misc a {
	color: #9a9a9a;
	// color: #2196F3;
}

#cv .paper-misc a:hover {
	// color: #9a9a9a;
	color: #2196F3;
}

#cv h3 {
	margin-top: 0rem;
	font-weight: 300;
    font-variant: small-caps;
}

#cv h2 {
	margin-top: 2.5rem;
	font-weight: 300;
	color: #313131;
}

#cv h1 {
	color: #313131;
	padding-bottom: 0px;
	margin-bottom: 0px;
	// faking .normal-web-width
	// max-width: 35rem;
	// margin-left: auto;
	// margin-right: auto;
}

.news {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: #689A19;
}

.first_h2 {
  display: block;
  font-size: 1.5em;
  //margin-top: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 0px;
  //margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  padding-bottom: 0px;
  color: #313131;
  font-weight: 300;
}

a { text-decoration: none; color: #379;}
ul { padding-left: 0;}
li { list-style: none; position: relative; margin: 8px 0 24px; line-height: 20px;}

#profile_card {
  background-color: Red;
  position: relative;
  width: 224px;
  left: 200px;
  margin-top: 5px;
  margin-bottom: 20px;
}

div.item {
  background-color: Red;
    position: relative;
    vertical-align: top;
    display: inline-block;
    text-align: left;
    width: 200px;
    left: -150px;
    float: left;
}
img {
    width: 200px;
}
.caption {
    display: block;
}

#profile_card img#profile_image { width: 224px; height: 277px;}

#profile_items { margin-top: 15px;}
#profile_items li { margin: 4px -2px 0 -90px;}
#profile_items li i { color: #555;}
#profile_items li a { border-bottom: 0;}

#web_title { display: flex; align-items: flex-end; justify-content: space-between; padding-top: 20px; border-bottom: 1px solid #ccc; padding-bottom: 6px; margin-bottom: 20px;}
#web_title h1 { font-size: 36px; margin: 0; color: #147; min-width: 300px;}
#web_title h1 a { color: #333;}

#top_menu { margin: 0 0 4px 0;}
#top_menu li { display: inline; font-size: 17px; margin: 0 5px;}
#top_menu a { color: #555;}
#top_menu a:hover { color: #2196F3;}

#about_me_text { font-size: 16px; line-height: 24px; margin-top: 10px;}
#about_me_text p { margin: 12px 0;}

@media (max-width: 600px) {
	#title { flex-wrap: wrap;}
	#title h1 { width: 100%; padding-bottom: 12px;}
	#top_menu { border-top: 1px solid #ccc; padding-top: 9px; width: 100%;}
	#content { margin-left: 0;}
	#profile_card { position: relative; left: 0; width: auto; display: flex; align-items: flex-end;}
	#profile_items { margin: 0 0 3px 15px;}
	#profile_items li { margin: 4px 0 0 1px;}
	.projects { display: block;}
	.project { display: flex; flex-direction: row; max-width: 100%; margin-bottom: 12px;}
	.project_thumbnail { margin-right: 9px; max-width: 60%;}
	.project_thumbnail img { width: 100%;}
	.paper_thumbnail { position: relative; top: 0; left: 0;}
	.left { position: relative; left: 0; text-align: left; margin-left: 5px;}
}

.title {
  height: 80px;
  //background-color: Red;
  float: left;
  width: 45%;
  display: inline;
  font-size: 2.1em;
  margin-top: 1em;
  margin-left: 2.3em;
  //margin-bottom: 0.67em;
  margin-right: 0;
  font-weight: bold;
}

.contact {
  display: inline;
  //background-color: Aqua;
  margin-top: 0.67em;
  margin-left: 0%;
  width: 55%;
}


#cv strong a {
	color: #303030;
}

#cv .cv-blue-link a {
	color: #2196F3;
}

#cv .photo-left {
	margin-left: -150pt;
    float:left;
	text-align: left;
	width: 10rem;
	display: inline;
	font-size: 12px;
	margin-top: 5pt;
	margin-bottom:0;
	margin-right:14pt;
	padding:0;
    font-size: 14px;
    //border: 1pt solid green;
}

#cv .cv-left-date {
	//margin-left: -5rem;
	margin-left: -6rem;
	text-align: right;
	width: 5rem;
	display: inline-block;
	font-size: 12px;
	margin-top:0;
	margin-bottom:0;
	margin-right:14pt;
	padding:0;
    //border: 1pt solid green;
}

.cv-spacer {
	margin-top:5px;
	display:block;
}

.cv-spacer-award {
	margin-top: 5px;
	display: block;
}

.cv-spacer-p {
	margin-top: 10px;
	display: block;
}

.cv-spacer-top {
	margin-top: 10px;
	display: block;
}

.cv-spacer-line {
	margin-top: 5px;
	display: block;
	background-color: #eee;
	height: 1px;
	max-width: 250px;
	margin-bottom: 5px;
}

#cv .cv-description {
	color: #9a9a9a;
	font-size: 14px;
	font-weight: 300;
}

#cv .cv-description a {
	color: #9a9a9a;
}

#cv .cv-description a:hover {
	color: #2196F3;
}

#cv .cv-subtitle {
	font-size: 20px;
}

#cv .cv-pdf {
	padding: 10px;
	border: 1px solid red;
}


#material {
    display: block;
    float: left;
    background: #ddd;
    color: white;
    padding: 6px 12px 6px 12px;
    margin: 3px;
    color: #689A19;
}

#material a {background: #555; color: #689A19;}
#material a:hover {background: #555; color: #689A19;}


#cv .cv-ai {
	color: #E7841E;
	// padding-bottom: 3px;
	// border-bottom: 1px solid #E7841E;
}

#cv .cv-vis {
	color: #2196F3;
	// padding-bottom: 3px;
	// border-bottom: 1px solid #2196F3;
}

#cv time {
	color: #9a9a9a;
	font-weight: 300;
	// faking .normal-web-width
	// max-width: 35rem;
	// margin-left: auto;
	// margin-right: auto;
}

#cv .top-width {
	max-width: 36rem;
	padding-left: 0rem;
	display: block;
	font-size: 16px;
    margin-left:90px;
}

#cv .cv-max-width {
	max-width: 35rem;
	padding-left: 0rem;
	display: block;
	font-size: 18px;
}

#cv .cv-website-marker {
	border: 1px solid;
	padding-top: 1px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 4px;
}


////////////////////////////////////////////
// experiement with centering title of cv //
//      not being used right now          //
////////////////////////////////////////////

#cv .normal-web-width {
	max-width: 35rem;
	padding-left: 0rem;
	// margin-left: auto;
	// margin-right: auto;
	display: block;
	font-size: 18px;
}

#cv .normal-web-width p {
	font-size: 18px;
	margin-left: 0rem;
}
